:root {
    --utilities: #171717;
    --content: #171717;
    --background: #cccccc;
    --material: url("/assets/white_marble_horizontal.jpg");
    /* --material: url("/assets/brush_white.jpg"); */
    --z-offset: 5px;
    --radius: 25px;
}

@font-face {
    font-family: worksansregular;
    src: url("/assets/fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: worksansbold;
    src: url("/assets/fonts/WorkSans-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    font-family: worksansregular;
}

@media only screen and (max-width: 950px) {
    body {
        align-items: end;
    }
}

/* ############ utilities ############ */
button.standard_button {
    background: none;
    border: none;
    border-radius: var(--radius);
    padding: 25px 30px;
    transition: 0.3s;
    box-shadow: none;
    cursor: pointer;
}

button.standard_button:hover {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(155, 155, 155, 0.3) 0px 18px 36px -18px inset; */

    /* box-shadow: rgb(155, 155, 155) 3px 3px 6px 0px inset,
        rgba(204, 219, 232, 0.5) -3px -3px 6px 1px inset; */
    box-shadow: rgb(77, 77, 77) 3px 3px 6px 0px inset,
        rgba(55, 55, 55, 0.5) -3px -3px 6px 1px inset;
}

button.standard_button svg {
    transform: translate3d(0, 0, 0) scale(1);
    transition: transform 0.3s;
    stroke: var(--utilities);
    stroke-width: 2;
}

button.standard_button:hover svg {
    transform: translate3d(-1px, -1px, 0) scale(0.98);
}

.vertical_divider {
    border: none;
    height: 150px;
    width: 10px;
    margin: 0 25px;
    background: var(--content);
}

/* ############ back button ############ */
.back_button.container {
    position: absolute;
    left: 0;
    top: 0;
}

.back_button.container button.standard_button {
    margin: 50px;
}

/* ############ turn left button ############ */
.turn_left_button.container {
}

.turn_left_button.container button.standard_button {
    margin: 50px;
}

@media only screen and (max-width: 1200px) {
    .turn_left_button.container button.standard_button {
        margin: 20px;
    }
}

@media only screen and (max-width: 950px) {
    .turn_left_button.container {
        order: 3;
    }
}

/* ############ turn right button ############ */
.turn_right_button.container {
}

.turn_right_button.container button.standard_button {
    margin: 50px;
}

@media only screen and (max-width: 1200px) {
    .turn_right_button.container button.standard_button {
        margin: 20px;
    }
}

@media only screen and (max-width: 950px) {
    .turn_right_button.container {
        order: 3;
    }
}

/* ############ card ############ */
.card.container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
}

.card_front.container,
.card_back.container {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    transform-style: preserve-3d;
    color: var(--content);
    box-shadow: 0 -20px 80px 0 rgba(255, 255, 255, 0.6) inset,
        0 5px 4px 0 rgba(0, 0, 0, 0.25);
}

.card_front.container {
    background: var(--material);
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: calc(2 * var(--radius));
    /* transform: translate3d(0, 0, var(--z-offset)); */
}

.card_front.container * {
    transform: translateZ(calc(3 * var(--z-offset)));
    display: block;
    position: relative;
    backface-visibility: hidden;
}

.card_front.container img {
    width: 150px;
    height: auto;
}

.card_front.container ul li {
    padding: 5px 0;
}

.card_front.container ul li span {
    font-size: 22px;
}

.card_back.container {
    background: var(--material);
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* translate3d(0, 0, calc(-1 * var(--z-offset))) */
    transform: rotate3d(0, 1, 0, 180deg);
    border-radius: calc(2 * var(--radius));
    padding: 50px;
}

.bordered_container {
    transform: translateZ(calc(3 * var(--z-offset)));
    display: block;
    position: relative;
    backface-visibility: hidden;
    border: 5px solid var(--content);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bordered_container span {
    font-size: 64px;
    font-family: worksansbold;
}

#card {
    background: white;
    width: 600px;
    height: 350px;
    border-radius: calc(2 * var(--radius));
    position: relative;
    transition: transform 0.1s;
    /* animation: rotating 10s linear infinite; */
    transform-style: preserve-3d;
}

@media only screen and (max-width: 950px) {
    .card.container {
        flex: 1 1 100%;
    }
}

@keyframes rotating {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/* Mouse overlay */
#mouse_overlay {
    width: calc(100% - calc(88px + 300px));
    position: absolute;
    height: calc(100% - calc(88px + 300px));
    /* left: calc(calc(100% - calc(88px + 100px)) / 2); */
    /* top: calc(calc(100% - calc(88px + 100px)) / 2); */
    z-index: 9999;
}

@media only screen and (max-width: 950px) {
    #mouse_overlay {
        transform: translateY(calc(-1 * calc(calc(1 / 3) * 100%)));
        width: 100%;
    }
}
